<%= simple_form_for(contact_request, url: article_contact_requests_path, remote: true) do |form| %>
  <%= form.input :name, label: 'Dein Name' %>
  <%= form.input :email, label: 'Email' %>
  <%= form.input :phone, label: 'Telefon' %>
  <%= form.input :price, label: 'Betrag (CHF)' %>
  <%= form.input :message, label: 'Deine Nachricht' %>

  <div class="actions">
    <%= form.submit 'Anfrage absenden', class: 'button is-success' %>
  </div>
<% end %>
