<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :price, class: 'label' %>
    <div class="control">
      <%= form.text_field :price, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <div class="control">
      <div class="wysiwyg"></div>
      <%= form.hidden_field :description, class: 'wysiwyg-target' %>
    </div>
  </div>

  <%= form.file_field :images, multiple: true, direct_upload: true %>
  <div class="file has-name">
    <label class="file-label">
      <%= form.file_field :images, multiple: true, class: 'file-input' %>
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file...
        </span>
      </span>
      <span class="file-name">
        No file uploaded
      </span>
    </label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  const fileInput = document.querySelector('.file input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('.file .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
