<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title">Online Flohmi</h1>
    <div class="content">
      <p>Hallo<p>
      <p>Willkommen in unserem Online Flohmi. Schön schaust Du vorbei!</p>
      <p>
        Klicke in Ruhe durch all unsere Sachen, welche wir gerne weitergeben oder verkaufen möchten.<br />
        Gefällt Dir etwas? Dann reservier dir diesen Artikel. Wir werden darauf hin mit Dir Kontakt aufnehmen um alles Weitere zu besprechen (Preis, Übergabe, ...).<br />
        Überleg Dir doch was Dir der Gegenstand wert ist. Unsere Preise sehen wir als Verhandlungsbasis.<br />
      </p>
      <p>Frohes Stöbern! Bei Fragen oder Unklarheiten einfach melden.</p>
      <p>Liebe Grüsse</p>
      <p>Familie Schmid</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <% @articles.in_groups_of(4, false) do |articles| %>
      <div class="columns">
        <% articles.each do |article| %>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by2">
                  <%= image_tag article.images.first.representation(resize_to_limit: [700, 700]) %>
                </figure>
              </div>
              <div class="card-content">
                <p class="is-size-3">
                  <%= article.title %>
                  <% if article.contact_requests.present? %>
                    <span class="tag is-medium is-warning is-light">
                      Hat bereits Interessenten
                    </span>
                  <% end %>
                </p>
                <p class="is-size-4">
                  <% if article.price_range %>
                    Um <%= number_to_currency article.price_range, unit: 'CHF' %>
                  <% else %>
                    Keine Preisvorstellung
                  <% end %>
                </p>
              </div>
              <footer class="card-footer">
                <%= link_to 'Anzeigen', article, class: 'card-footer-item' %>
                <% if policy(article).edit? %>
                  <%= link_to 'Anpassen', edit_article_path(article), class: 'card-footer-item' %>
                <% end %>
              </footer>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
