<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title">Online Flohmi</h1>
    <div class="content">
      <p>Hallo<p>
      <p>Willkommen in unserem Online Flohmi. Schön schaust Du vorbei!</p>
      <p>Wir lösen einen grossen Teil unserers Haushalts auf, daher möchten wir vieles <strong>weitergeben</strong> oder <strong>verkaufen</strong>.</p>
      <p>
        Gefällt Dir etwas? Dann reservier dir diesen Artikel. Wir werden darauf hin mit Dir Kontakt aufnehmen um alles Weitere zu besprechen (Preis, Übergabe, ...).<br />
        Überleg Dir doch was Dir der Gegenstand wert ist. Unsere Preise sehen wir als Verhandlungsbasis.<br />
      </p>
      <p>Fühl dich frei uns auch für Artikel zu kontaktieren welche bereits Interessenten haben.</p>
      <p>Frohes Stöbern! Bei Fragen oder Unklarheiten einfach melden.</p>
      <p>Liebe Grüsse</p>
      <p>Familie Schmid</p>

      <% unless session[:subscribed] %>
        <div id="js-subscriber-form">
          <p>PS: Wenn du über neue Artikel informiert werden möchtest, kannst du uns hier deine E-Mail Adresse hinterlassen.</p>
          <%= form_for :subscriber, url: subscribers_path, remote: true do |form| %>
            <div class="field has-addons">
              <div class="control">
                <%= form.email_field :email, required: true, placeholder: 'benutzer@example.org', class: 'input' %>
              </div>
              <div class="control">
                <%= form.submit 'Infos Abonnieren', class: 'button is-info' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <div class="tabs">
      <ul>
        <li class="<%= params[:category_id].blank? ? 'is-active' : '' %>"><%= link_to 'Alle', articles_path %></li>
        <% Category.order(position: :asc).each do |category| %>
          <li class="<%= params[:category_id].to_i == category.id ? 'is-active' : '' %>"><%= link_to category.name, articles_path(category_id: category.id) %></li>
        <% end %>
      </ul>
    </div>
    <% @articles.in_groups_of(3, false) do |articles| %>
      <div class="columns">
        <% articles.each do |article| %>
          <div class="column">
            <div class="card">
              <% if article.main_image %>
                <div class="card-image">
                  <figure class="image is-350x350">
                    <%= image_tag article.main_image.representation(resize_to_fill: [700, 700]) %>
                  </figure>
                  <div class="card-image-stamp">
                    <% if article.contact_requests.present? %>
                      <div class="tag is-medium is-info is-light">
                        Hat Interessenten
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="card-content">
                <p class="is-size-5">
                  <%= article.title %>
                </p>
                <p class="block is-size-6">
                  <% if article.price_range %>
                    Um <%= number_to_currency article.price_range, unit: 'CHF' %>
                  <% else %>
                    Keine Preisvorstellung
                  <% end %>
                </p>
                <p class="block is-size-6 is-italic has-text-grey-light">Am <%= l(article.created_at.to_date) %> hinzugefügt</p>
              </div>
              <footer class="card-footer">
                <%= link_to 'Anzeigen', article, class: 'card-footer-item' %>
                <% if policy(article).edit? %>
                  <%= link_to 'Anpassen', edit_article_path(article), class: 'card-footer-item' %>
                <% end %>
              </footer>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
