<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Alle Artikel', articles_path %></li>
        <li class="is-active"><%= link_to @article.title, article_path(@article), 'aria-current' => 'page' %></li>
      </ul>
    </nav>

    <h1 class="title"><%= @article.title %></h1>

    <% if @article.images.length == 1 %>
      <%= image_tag @article.images.first.representation(resize_to_limit: [2000,2000]) %>
    <% else %>
      <div class="gallery block">
        <div class="gallery__sidebar">
          <% @article.images.each do |image| %>
            <%= image_tag image.representation(resize_to_limit: [300, 250]), class: 'gallery__preview-image', data: { 'full-version' => url_for(image.representation(resize_to_limit: [2000,2000])) } %>
          <% end %>
        </div>
        <div class="gallery__zoomed-image"></div>
      </div>
    <% end %>

    <div class="columns">
      <div class="column is-four-fifths">
        <div class="content"><%= sanitize @article.description %></div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="subtitle">
            <%= number_to_currency @article.price, unit: 'CHF' %>
          </h2>
        </div>
      </div>
    </div>

    <% if policy(@article).edit? %>
      <%= link_to 'Ändern', edit_article_path(@article) %>
    <% end %>
    <% if policy(@article).destroy? %>
      <%= link_to 'Löschen', article_path(@article), method: :delete, data: { confirm: 'Bist du sicher?' } %>
    <% end %>
  </div>
</section>
