<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title"><%= @article.title %></h1>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Artikel", articles_path %></li>
        <li class="is-active"><%= link_to @article.title, article_path(@article), 'aria-current' => 'page' %></li>
      </ul>
    </nav>

    <div class="gallery block">
      <div class="gallery__sidebar">
        <% @article.images.each do |image| %>
          <%= image_tag image.representation(resize_to_limit: [300, 250]), class: 'gallery__preview-image', data: { 'full-version' => url_for(image.representation(resize_to_limit: [2000,2000])) } %>
        <% end %>
      </div>
      <div class="gallery__zoomed-image"></div>
    </div>

    <div class="columns">
      <div class="column is-four-fifths">
        <div class="content"><%= santize @article.description %></div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="subtitle">
            <%= number_to_currency @article.price, unit: 'CHF' %>
          </h2>
        </div>
      </div>
    </div>

    <p>
    <strong>Price:</strong>
    <%= @article.price %>
    </p>

    <% if policy(@article).edit? %>
      <%= link_to 'Edit', edit_article_path(@article) %> |
    <% end %>
    <%= link_to 'Back', articles_path %>
  </div>
</section>
