<!DOCTYPE html>
<html>
  <head>
    <title>Flohmi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Flohmi
          <p id="notice"><%= notice %></p>
        </h1>
        <% if logged_in? %>
          <p class="subtitle">
          <div>Hi <%= current_user.email %></div>
          </p>
        <% end %>
      </div>
    </section>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
