<!DOCTYPE html>
<html>
  <head>
    <title>Flohmi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="js-remote-content"></div>

    <% if logged_in? %>
      <div class="container is-max-desktop">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <% if policy(Article).index? %>
              <%= link_to 'Artikel', articles_path, class: 'navbar-item' %>
            <% end %>
            <% if policy(Article).new? %>
              <%= link_to 'Neuen Artikel hinzufügen', new_article_path, class: 'navbar-item' %>
            <% end %>
            <% if policy(ContactRequest).index? %>
              <%= link_to 'Anfragen', contact_requests_path, class: 'navbar-item' %>
            <% end %>
          </div>
        </nav>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
